<div id="main" class="container text-center d-flex justify-content-center">
  <a><img id="sociologo" src="assets/rebuilt.png"></a>
</div>
<div class="wrapper">
  <div class="container">
    <div class="section">
      <h4>Transforming Brands With Creativity</h4>
      <h6>Introducing Our Services</h6>
      <p>We've excited our experience in a wide range of Industries to bring valuable insights and provide our customers

      </p>
      <a href="#application"><button mdbRipple type="button" class="btn btn-primary">Check Below</button></a>
    </div>
  </div>
</div>
<section class="services" id="services">

  <a class="card" href="#carousel">
    <img src="assets/web.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Web Developement</h5>
    </div>
  </a>

  <a class="card" href="#graph">
    <img src="assets/graphic.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Logo Design</h5>


    </div>
  </a>
  <a class="card">
    <img src="assets/social.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Social Media Marketing</h5>


    </div>
  </a>
  <a class="card" href="#application">
    <img src="assets/app.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">App Developement</h5>


    </div>
  </a>
  <a class="card">
    <img src="assets/photo.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Photo/Video Advertising</h5>


    </div>
  </a>



</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->












<div class="container text-center mt-5 mb-4">
  <h4 style="font-family: 'Bree Serif', serif;" class="web">
    <strong style="color: crimson;"><span>Web</span> Developement</strong>
  </h4>
  <h6 class="container mb-0">
    Are you running a business for a long time but still haven’t been to the online route?.
    We are the best one to create and maintain your web presence.An effective web presence will
    define your business/ Products/ services and improve the demand through customer centric approach.
  </h6>
</div>


<section class="container-fluid d-flex justify-content-center align-items-center" id="carousel">
  <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="template">
      <span class="hover"></span>
      <img id="img" src="https://miro.medium.com/max/1200/1*pE2fOVDikEUwiQJlh4ggzg.jpeg">

    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://miro.medium.com/max/640/1*K2iFkHhIjhV-f9bkE3ZhJg.png">
    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://www.classicinformatics.com/hubfs/agency.png"></ng-template>
    <ng-template carouselSlide><img id="img"
        src="https://internetdevels.com/sites/default/files/public/blog_preview/estimation_blog.jpg"></ng-template>
  </owl-carousel-o> -->

  <owl-carousel-o style="width: 100%;" [options]="customOptions" id="oc">
    <ng-template carouselSlide>
      <div class="card">
      <div class="circle">
        <div class="imgbx">
          <img src="assets/webimages/joshi.png">
        </div>
      </div>
      <div class="content">
      <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://joshibattery.in">
          <h3>JOSHI BATTERY</h3>
      </a>
  </div>
  </div></ng-template>
    <ng-template carouselSlide id="ng"> <div class="card">
      <div class="circle">
        <div class="imgbx">
          <img src="assets/webimages/eduarty.png">
        </div>
      </div>
      <div class="content">
      <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="http://www.eduarty.com">
          <h3>Eduarty</h3>
      </a>
  </div>
  </div></ng-template>
    <ng-template carouselSlide id="ng"> <div class="card">
      <div class="circle">
        <div class="imgbx">
          <img src="assets/webimages/vintage.png">
        </div>
      </div>
      <div class="content">
      <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://vintagestudios.in">
          <h3>Vintage Studios</h3>
      </a>
  </div>
  </div></ng-template>
  <ng-template carouselSlide id="ng"> <div class="card">
    <div class="circle">
      <div class="imgbx">
        <img src="assets/webimages/ctstrength.png">
      </div>
    </div>
    <div class="content">
    <a >
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://siddupajji.github.io/yoyo/home">
        <h3>CTStrenth India</h3>
    </a>
</div>
</div></ng-template>
<ng-template carouselSlide id="ng"> <div class="card">
  <div class="circle">
    <div class="imgbx">
      <img src="assets/webimages/kachori.png">
    </div>
  </div>
  <div class="content">
  <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://thekachorihub.com">
      <h3>KachoriHub</h3>
  </a>
</div>
</div></ng-template>
  </owl-carousel-o>

<!--

  <div class="card">
    <div class="circle">
      <div class="imgbx">
        <img src="../../assets/app1.jpg">
      </div>
    </div>
    <div class="content">
    <a href="#">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="#">
        <h3>JOSHI BATTERY</h3>
    </a>
</div>
</div>

<div class="card">
  <div class="circle">
    <div class="imgbx">
      <img src="../../assets/app1.jpg">
    </div>
  </div>
  <div class="content">
  <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="#">
      <h3>ROOMNMESS</h3>
  </a>
</div>
</div>
<div class="card">
  <div class="circle">
    <div class="imgbx">
      <img src="../../assets/app1.jpg">
    </div>
  </div>
  <div class="content">
  <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="#">
      <h3>KACHORIHUB</h3>
  </a>
</div>
</div>
<div class="card">
  <div class="circle">
    <div class="imgbx">
      <img src="../../assets/app1.jpg">
    </div>
  </div>
  <div class="content">
  <a href="#">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="#">
      <h3>EDUARTY</h3>
  </a>
</div>
</div>
 -->






</section>

<!--
<div class="jumbotron mt-5 mb-4 p-5" id="digiheading">
  <h4 style="font-family: 'Bree Serif', serif;" class="webdig">
    <strong><span style="color: crimson; ">Digital</span> Marketing</strong>
  </h4>
  <h6>
    Socio ad Pvt Ltd is a dynamic, versatile and full-service digital marketing agency that doesn't rely on smoke and
    mirrors to attract new clients.We offered services with effective results to the clients.The focus is always on the
    quality of the services to all types of the clients.
  </h6>
</div>

<div class="maindigi">
  <div class="w-100 d-flex">
    <div class="digiimg1 col-md-4">
      <img
        src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2019/03/What_is_digital_marketing_jpg_7ytL8TjA.jpg?auto=format&q=60&w=1280&h=720&fit=crop&crop=faces">
    </div>
    <div class="digiimg2 col-md-4">
      <img src="https://www.qbd.co.uk/wp-content/uploads/2021/03/AdobeStock_265577961-Converted-1024x836.png">
    </div>
    <div class="digiimg3 col-md-4">
      <img
        src="https://www.proschoolonline.com/wp-content/uploads/2019/05/9-Top-Project-Management-Tools-for-Digital-Marketing-Agency-1-1030x1030.jpg">
    </div>
  </div>
  <div class="w-100 d-flex">
    <div class="digiimg4 col-md-4">
      <img src="https://mir-s3-cdn-cf.behance.net/projects/404/9da54073192527.Y3JvcCw5MjAsNzIwLDEzOCww.jpg">
    </div>
    <div class="digiimg5 col-md-4">
      <img
        src="https://img.hktdc.com/eyJidWNrZXQiOiJjbXMtaW1nbGliLXByZCIsImtleSI6IlJNSVAvMjAyMDAzMDYvbTh0YmQ5Zy1ORGM0T1RJMC5qcGVnIiwicmVnaW9uIjoiYXAtc291dGhlYXN0LTEiLCJmb3JtYXQiOiJqcGVnIiwicXVhbGl0eSI6MTAwLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgwMCwiaGVpZ2h0Ijo0NTAsImZpdCI6ImNvdmVyIn19fQ==">
    </div>
    <div class="digiimg6 col-md-4">
      <img
        src="https://5.imimg.com/data5/SELLER/Default/2020/10/ZK/QW/HN/31891429/digital-marketing-services-500x500.jpg">
    </div>
  </div>
</div> -->

<div class=" mt-5 mb-2" id="businesstartup">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>Social <span style="color: crimson; "> Media Marketing</span> </strong>
  </h4>
  <h6 class="container mb-0">
    Start up services are the services specially designed for the upcoming and ongoing start ups. Start up is the phase
    where best nurturing is expected to grow the business effectively and efficiently.
    . With the same thought in mind, we have designed these services where startup businesses will be helped to build a
    foundation of their business.

  </h6>
  <hr>
</div>


<div class="businessection">

  <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/anahata.jpg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>
    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/dusshera.jpg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card Two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>
    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/aami.jpg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>

    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/satwik.jpeg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>

    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/green amrut.jpg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>

    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'> <img
          src='assets/portfolio/ctso.jpg' style="width: 400px; height: 200px;">
      </div>
      <div class="content">
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin leo
          viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo volutpat ac
          sed dolor.</p>
      </div>
    </div>
  </div>

</div>


<!-- ####################################################################################################### -->


<div class=" mt-5 mb-2" id="app">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong>App<span style="color: crimson; "> Developement</span></strong>
  </h4>
  <h6 class="container mb-0">
    Start up services are the services specially designed for the upcoming and ongoing start ups. Start up is the phase
    where best nurturing is expected to grow the business effectively and efficiently.
    . With the same thought in mind, we have designed these services where startup businesses will be helped to build a
    foundation of their business.

  </h6>
  <hr>
</div>

<!-- git config http.postBuffer 524288000 -->


<div id="application" >
  <div class="row row-cols-4">
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/swaray.png'); background-position: center; background-size: cover;">
            <span>Swaray</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/swaray/id1526899079">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/kweeber.png'); background-position: center; background-size: cover;">
            <span>Kweeber</span>
          </div>
          <div class="card-back">
            <a href="https://itunes.apple.com/us/app/kweeber-restaurateur/id1387323131?ls=1&mt=8">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/Pool.png'); background-position: center; background-size: cover;">
            <span>Pool-Lab-Aquatic</span>
          </div>
          <div class="card-back">
            <a href="https://itunes.apple.com/us/app/pool-lab-aquatic-engineering/id1360432891?ls=1&mt=8">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/namariq.png'); background-position: center; background-size: cover;">
            <span>Namariq</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/namariq/id1488211330">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/qkids.png'); background-position: center; background-size: cover;">
            <span>Mawaaid</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/mawaiid/id1528890304">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/qkids.png'); background-position: center; background-size: cover;">
            <span>Qkids</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/qkids/id1542800015">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/wadek.png'); background-position: center; background-size: cover;">
            <span>Wadek</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/wadek/id1548194661">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="inner-box">
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/app/babies.png'); background-position: center; background-size: cover;">
            <span>Babies Club</span>
          </div>
          <div class="card-back">
            <a href="https://apps.apple.com/us/app/babies-club-nursery-qatar/id1438346953">
              <p>Visit Link</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" mt-5 mb-2" id="app">
  <h4 style="font-family: 'Bree Serif', serif; color: black;" class="bus">
    <hr>
    <strong><span style="color: crimson; ">Logo</span> Design</strong>
  </h4>
  <h6 class="container mb-0">
    Start up services are the services specially designed for the upcoming and ongoing start ups. Start up is the phase
    where best nurturing is expected to grow the business effectively and efficiently.
    . With the same thought in mind, we have designed these services where startup businesses will be helped to build a
    foundation of their business.

  </h6>
  <hr>
</div>

<section id="graph">
  <div class="box">
    <div class="card" >
      <div class="imgBx" style="border: 1px solid rgb(82, 82, 82);">
        <img
          src="assets/logos/aami.png"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img
          src="assets/logos/Damle caterers.png"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Producer</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img
          src="assets/logos/swaad.png"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img
          src="assets/logos/virtual yatri.PNG"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img
          src="assets/logos/atelier.jpg"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img
          src="assets/logos/vintage.png"
          alt="images">
      </div>
      <div class="details">
        <h2>SomeOne Famous<br><span>Actor</span></h2>
      </div>
    </div>

  </div>
</section>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->




<div class="jumbotron" id="photo">
  <h4 style="font-family: 'Bree Serif', serif;" class="webdig">
    <strong><span style="color: crimson; ">Photography</span> Advertising</strong>
  </h4>
  <h6>
    We connect over many creators with leading brands to shape next generation visual culture,
    championing world-class images and videos from diverse perspectives.
    We provide our services to have the best brand representations.
  </h6>
</div>


<section id="socialmedia">

      <div class="container">
        <div class="row photos">

          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/dagan.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/dagan.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/lux.JPG" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/lux.JPG"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/apple.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/apple.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/nilon.JPG" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/nilon.JPG"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/biomed.JPG" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/biomed.JPG"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/gift.JPG" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/gift.JPG"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/obessed.JPG" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/obessed.JPG"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/ruturajsir/tricura.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/ruturajsir/tricura.jpg"></a></div>

        </div>
      </div>
</section>

<audio>
  <source src="assets/audio/2a.aac" type="audio/aac">
</audio>
<br>
<br>
<br>
<div class="jumbotron" id="audio">
  <h4 style="font-family: 'Bree Serif', serif;" class="audiodig">
    <strong><span style="color: crimson; ">Audio</span> Advertising</strong>
  </h4>
  <h6>
    Socio ad Pvt Ltd is a dynamic, versatile and full-service digital marketing agency that doesn't rely on smoke and
    mirrors to attract new clients.We offered services with effective results to the clients.
  </h6>
</div>
<section>
  <div class="videosection">
      <div class="player">
          <div class="musicbox">
              <img src="assets/audimg/img1.jpg">
          </div>
          <audio controls="controls">
            <source src="assets/audio/a1.aac" type="audio/aac">
          </audio>
      </div>
      <div class="player">
        <div class="musicbox">
            <img src="assets/audimg/img2.jpg">
        </div>
        <audio controls="controls">
          <source src="assets/audio/a2.aac" type="audio/aac">
        </audio>
    </div>
    <div class="player">
      <div class="musicbox">
          <img src="assets/audimg/img3.png">
      </div>
      <audio controls="controls">
        <source src="assets/audio/a3.aac" type="audio/aac">
      </audio>
  </div>
  <div class="player">
    <div class="musicbox">
        <img src="assets/audimg/img4.jpg">
    </div>
    <audio controls="controls">
      <source src="assets/audio/a4.aac" type="audio/aac">
    </audio>
</div>
  </div>
</section>
