
<!-- <div class="wrapper">
  <div class="container">
    <div class="row">
      
      <div class="col-md" id="onlytext">
        <h2>Tell The Story Of Your Design</h2>
    </div>
    <div class="col-md" >
      <img src="../assets/dntknw.jpg" id="landingimg">
    </div>
    </div>
   
  </div>
</div>  -->

 <!-- <div class="wrapper">
      <div class="container">
        <div class="section">
             <h1>Transforming Brands With Creativity</h1> 
            <h1>Introducing Our Projects</h1>
            <h6>We've excited our experience in a wide range of Industries to bring valuable insights and provide our customers
              
            </h6>
            <button mdbRipple type="button" class="btn btn-success">Check Below</button>
        </div>
      </div>
</div>  -->

<!-- <div class="webgallery">
    <div class="">

    </div>
</div> -->
<!-- <div class="parallax"></div>
<div class="photo-gallery" id="photogallery">
  <div class="container">
      <div class="intro ">
          <h2 class="text-center">Web Projects</h2>
          <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
      </div>
       <div class="row photos">
               
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/bg.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/bg.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature 1.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature 1.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature2.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature2.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature3.png" data-lightbox="photos"><img class="img-fluid" src="../assets/nature3.png"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature4.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature4.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature8.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature8.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature6.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature6.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/nature7.jpg" data-lightbox="photos"><img class="img-fluid" src="../assets/nature7.jpg"></a></div>
         
        </div>
  </div>
</div> -->






<router-outlet></router-outlet>
<app-navbar></app-navbar>



<footer class="bg-dark text-center text-white mt-5">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-green" href="https://mdbootstrap.com/">Socio Ad Pvt Ltd</a>
  </div>
  <!-- Copyright -->
</footer>






























 <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="template">
      <span class="hover"></span>
      <img id="img" src="https://miro.medium.com/max/1200/1*pE2fOVDikEUwiQJlh4ggzg.jpeg">
    
    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://miro.medium.com/max/640/1*K2iFkHhIjhV-f9bkE3ZhJg.png">
    </ng-template>
    <ng-template carouselSlide><img id="img" src="https://www.classicinformatics.com/hubfs/agency.png"></ng-template>
    <ng-template carouselSlide><img id="img"
        src="https://internetdevels.com/sites/default/files/public/blog_preview/estimation_blog.jpg"></ng-template>
  </owl-carousel-o> -->